<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TellCom"
        tools:targetApi="31">
        <activity
            android:name="com.example.tellcom.view.activitys.DateOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tellcom.view.activitys.WorkRecordActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tellcom.view.activitys.ScoreActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tellcom.view.activitys.OrderActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tellcom.view.activitys.SetupScoreActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tellcom.view.activitys.RoutesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tellcom.view.activitys.FormOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tellcom.view.activitys.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.tellcom.view.activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>